.posts {
    position: absolute;
    top: 10%;
    left: 8%;
    margin: 20px;
    width: 1500px;
    z-index: 1;
}

.upload-image {
    position: absolute;
    top: 70px;
    right: 200px;
    border: 1px solid #000;
    width: 30%;
}

.upload-image-pop-up {
    position: absolute;
    top: 30px;
    right: 250px;
}