.posts {
    min-width: 400px;
    position: absolute;
    top: 10%;
    left: 5%;
    margin: 20px;
    width: 70%;
    z-index: 1;
}

@media screen and (max-device-width: 530px)  {
    .posts {
        margin: auto;
        position: absolute;
        top: 10%;
        left: 2%;
        right: 2%;
    }
}

@media screen and (max-device-width: 1300px)  {
    .posts {
        width: 150%;
        margin: auto;
        position: absolute;
        top: 10%;
        left: 15%;
    }
}

.upload-image {
    position: absolute;
    top: 70px;
    right: 200px;
    border: 1px solid #000;
    width: 30%;
}

.upload-image-pop-up {
    position: absolute;
    top: 30px;
    right: 250px;
}